@model IEnumerable<FiftyShadesOfErrorList_DATA.Entity.Besin>

<table id="dataTable" class=" table table-hover table-bordered">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Ad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Miktar)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Kalori)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Porsiyon)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Karbonhidrat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Protein)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Yag)
			</th>
			<th>İşlemler</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Ad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Miktar) - @Html.DisplayFor(modelItem => item.Birim)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Kalori)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Porsiyon)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Karbonhidrat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Protein)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Yag)
				</td>
				<td>
					<a asp-action="BesinEkleDuzenle" asp-route-id="@item.Id" class="btn btn-warning" data-toggle="tooltip" title="Düzenle"><i class="fa-solid fa-pen-to-square"></i></a>
					<a asp-action="Detay" asp-route-id="@item.Id" class="btn btn-secondary" data-toggle="tooltip" title="Detay Gör"><i class="fa-solid fa-circle-info"></i></a>
					<a asp-action="Sil" asp-route-id="@item.Id" class="btn btn-danger" data-toggle="tooltip" title="Sil"><i class="fa-solid fa-trash-can"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
			$('#dataTable').DataTable({
				"paging": true,
				"lengthChange": false,
				"ordering": true,
				"info": true,
				"autoWidth": false,
					"searching": false,
		});
	});

</script>